body {
    background-color: #f7f7f7;
}

h1 {
    color: #333;
}

.product {
    margin-bottom: 30px;
}
.card{
    height: 480px;
}
.card-img-top {
    height: 250px;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

.btn {
    margin-top: 10px;
}